hr {
  width: 90%;
  border: none;
  border-top: 2px solid #ccc;
  margin: 0 auto 20px auto;
}
.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-row {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  padding: 10px 0;
}

label, input, button {
  font-size: 22px;
}

input[type="number"] {
  border: none;
  outline: none;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}

/* Remove spinner for number inputs (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove spinner for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



